
::-webkit-scrollbar {
    width: 0px;
    display:none;
}

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  color: #303030;
}

.hidden, .checkout-hidden {
  max-height: 150rem;
  display: none;
}

.categories {
  width: 100%;
  height: 2rem;
  margin: 0;

}

.top-category {
  margin-top: 3rem;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: auto; */
  width: 90%;
}

a {
  text-decoration: none;
}

input {
  border-radius: .2rem;
  border: none;
  height: 1.5rem;
}

input:focus {
  background: #F3F7F7;
}

h1 {
  font-size: 1.10rem;
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;
}

h2 {
  font-size: 1.50rem;
  text-align: center;
}

h5 {
  margin-top: .33rem;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(48,48,48);
  background: linear-gradient(60deg, rgba(48,48,48,1) 0%, rgba(40,40,40,1) 56%, rgba(48,48,48,1) 100%);
  
}

.main {
  display: flex;
  flex-direction: column;
  height: 85vh;
  width: 90vw;
  border-radius: 1rem;
  position: relative;
  z-index: 2;
  box-shadow: 2rem 2rem 2rem rgb(40, 40, 40, 0.2);
  background: linear-gradient(
      to right bottom,
  rgba(255, 255, 255, 0.616),
  rgba(255, 255, 255, 0.384));
  overflow: scroll;
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-sizing:border-box;
  margin-bottom: 0;
  flex: 1;
  position: fixed;
  top: 3%;
  z-index: 5;
  height: 15%;
  width: 90vw;
  border-radius: 1rem 1rem 0 0;
  box-shadow: .2rem .2rem .5rem rgb(40, 40, 40, 0.2);
  padding: 2rem;
  background: linear-gradient(
      to right bottom,
  rgba(255,255,255, 0.5),
  rgba(255,255,255,0.2));
  backdrop-filter: blur(1rem);
}

.store-name {
  margin: 0 1rem;
}

.check-out-totals {
  display: none;
}

.view-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 4vh;
  left: 2vw;
  margin: 0;
  border-radius: .5rem;
  width: 5rem;
  padding: 2rem, .4rem, 0, .4rem;
}

.view-cart:hover {
  transition: .8s;
  box-shadow: .05rem .05rem 2rem rgb(40, 40, 40, 0.5);
}

.view-cart:active {
  transform: scale(1.0);
  box-shadow: .5rem .5rem 1rem rgb(40, 40, 40, 0.5);
}

.view-cart-text {
  display: none;
}

.top-gap-for-sticky{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 46.75rem;
  width: 100%;
  background: linear-gradient(
    to right bottom,
rgba(255,255,255,0.5),
rgba(255,255,255,0.2));
  box-shadow: .2rem 1rem 1rem 1rem rgba(40, 40, 40, 0.2);
}

.greeting {
  margin: 6.25rem 0 3.125rem 0;
  padding: 0 0 0 .5rem;

}

.disclaimer {
  margin: 2.1875rem 0 0 .2rem;
  padding-top: 6rem;
  display: flex;
  align-self: center;
  justify-self: flex-start;
  font-size: .4rem;
  letter-spacing: .005px;
}

.products-header {
  padding: 100px 0 8px 0;
  margin: -75px 0 1rem 0;
  height: 150px;
  min-height: 100px;
  width: 100%;
  background: linear-gradient(
          to right bottom,
      rgba(255,255,255,0.5),
      rgba(255,255,255,0.2));
  box-shadow: .2rem 1rem .5rem rgba(40,40,40, 0.2);   
  position: sticky;
  top:0;
  z-index: 3;
  backdrop-filter: blur(1rem);  
}

.cart-image {
  height: 4rem;
  padding-top: .2rem;
}

.add-to-cart-button {
  background: rgb(48,48,48);
  background: linear-gradient(60deg, rgba(48,48,48,0.9304096638655462) 0%, rgba(40,40,40,0.9023984593837535) 56%, rgba(48,48,48,0.8911939775910365) 100%);
  color: #EBEBEB;
  border: none;
  padding: 1rem;
  border-radius: .5rem;
  box-shadow: .2rem .2rem 1rem rgb(40, 40, 40, 0.5);
  margin-top: .5rem;
  /* transition: .6s; */
  transition: all .6s ease-out;
}

.add-to-cart-button:hover {
  transform: scale(1.10);
  /* transition: .6s; */
  /* text-shadow: .25rem .25rem 2rem #000; */
  box-shadow: 1rem 1rem 1rem rgb(40, 40, 40, 0.5);
  z-index: 5;
}

.add-to-cart-button:active {
  transform: scale(1.0);
  box-shadow: .5rem .5rem 1rem rgb(40, 40, 40, 0.5);
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 3;
  height: fit-content;
  position: relative;
  z-index: 2;
}

.products-card {
  display: flex;
  overflow: hidden;
  height: 20rem;
  width: 15rem;
  border-radius: .5rem .5rem 0 0;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  box-shadow: .5rem .5rem 2rem rgba(40,40,40, 0.2);
  margin: .75rem .75rem .75rem .75rem;
  background: linear-gradient(
      to right bottom,
  rgba(255,255,255,0.5),
  rgba(255,255,255,0.2));
  position: relative;
  transition-duration: 1.8s;
}

.card-price {
  margin: .5rem 0;
}
.products-card:hover {
  transform: scale(1.15);
  box-shadow: 4rem 4rem 8rem rgba(40, 40, 40, 0.8);
  background: linear-gradient(
      to right bottom,
  rgba(255,255,255, 0.7),
  rgba(255,255,255, 0.4));
  z-index: 5;
}

.description-box {
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin-top: .5rem;
  background: linear-gradient(
      to right bottom,
  rgba(255,255,255, 0.5),
  rgba(255,255,255,0.2));
  backdrop-filter: blur(1rem);
  transition: all 1s ease-in-out;
  box-shadow: 0rem 0rem 3rem 1rem rgba(40,40,40, 0.2);
}

.description-header {
  max-height: 1rem;
}

/* controls description box animation - toggles with js */
.description-box-click {
  height: 20rem;
  padding: .5rem;
  animation: MoveUpDown .7s linear;
  position: absolute;
}

.description-box:hover {
  cursor: pointer;
  transform: scaleY(1.04);
  box-shadow: 1rem -5rem 5rem .5rem rgba(40,40,40, 0.2);

}

.description {
  font-size: .9rem;
}

/* actual animation for description cards */
@keyframes MoveUpDown {
  0%, 100% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0px);
  }
}

.card-image {
  height: 79px;
  width: 230px;
}

/* ALL SHOPPING CART RELATED CODE */
.shopping-cart {
  position: fixed;
  box-sizing: border-box;
  top: 14%;
  display: flex;
  flex-direction: column;
  background: rgb(255, 255, 255);
  background: linear-gradient(
      to right bottom,
  rgba(255,255,255,0.7),
  rgba(255,255,255,0.4));
  width: 92vw;
  height: 80vh;
  backdrop-filter: blur(1rem);
  border-radius: 1.5rem;
  transition: all 1s ease-in-out;
  animation: MoveUpDown .7s linear;
  z-index: 6;

}

.back-to-store {
  width: auto;
  align-self: center;
  margin-top: 0;
  cursor: pointer;
}

.cart-header {
  justify-self: center;
  text-align: center;
  width: 100%;
  height: 2rem;
}

.cart-wrapper {
  display: flex;
  flex-direction: row;
  height: 80%;
}

.cart-product-price * {
  height: 5rem;
}
.cart-wrapper * {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  margin: .25rem;
}

.cart-product-name, .cart-change-quantity-container, .cart-product-price {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 33%;
  height: 100%;
}

.cart-change-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-product-quantity {
  background: linear-gradient(
      to right bottom,
  rgba(255,255,255,0.4),
  rgba(255,255,255,0.7));
  width: 3rem;
  height: 2rem;
  text-align: center;
}

.cart-totals {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 10rem;
  position: absolute;
  bottom: 6.5rem;
}

.cart-totals * {
  text-align: left;
  margin: .20rem 0 .20rem 1rem;
}

.check-out-button {
  display: flex;
  justify-content: center;
  align-self: center;
  background: rgb(48,48,48);
  background: linear-gradient(60deg, rgba(48,48,48,0.9304096638655462) 0%, rgba(40,40,40,0.9023984593837535) 56%, rgba(48,48,48,0.8911939775910365) 100%);
  color: #EBEBEB;
  border: none;
  border-radius: .5rem;
  padding: 1rem;
  margin-bottom: .5rem;
  width: 8rem;
  border-radius: .5rem;
  box-shadow: .2rem .2rem 1rem rgb(40, 40, 40, 0.5);
  margin-top: .5rem;
  transition: all 1s ease-out;
}

.check-out-button:hover {
  transform: scale(1.10);
  transition: .6s;
  box-shadow: 1rem 1rem 1rem rgb(40,40,40, .5);
}

.check-out-button:active {
  transform: scale(1.0);
  box-shadow: .5rem .5rem 1rem rgb(40,40,40, .5);
}

.check-out-menu {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
  background: linear-gradient(
      to right bottom,
  rgba(255,255,255,0.4),
  rgba(255,255,255,0.7));
  width: 95vw;
  min-height: 60vh;
  max-height: 100vh;
  backdrop-filter: blur(1rem);
  border-radius: .5rem;
  transition: all 1s ease-in-out;
  animation: MoveUpDown .7s linear;
  position: absolute;
  top: 10%; 
  box-shadow: 10rem 10rem 10rem 8rem rgba(40,40,40,0.62);
  overflow: scroll;
  z-index: 8;
}

#tender-type {
  font-size: 1.15rem;
  text-align: center;

}

.final-check-out-totals {
  display: flex;
  align-self: flex-end;
  flex-direction: column-reverse;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 10rem;
  max-width: 17rem;
  margin: 1rem 0 .2rem;
}

.final-check-out-tax, .final-check-out-subtotal {
  font-size: 1.25rem;
  margin: .10rem;
  text-align: left;
}

.final-check-out-total {
  font-size: 1.5rem;
  margin: .10rem;
  text-align: left;
}


.change-button {
  display: flex;
  justify-content: center;
  align-self: flex-end;
  background: rgb(48,48,48);
  background: linear-gradient(60deg, rgba(48,48,48,0.9304096638655462) 0%, rgba(40,40,40,0.9023984593837535) 56%, rgba(48,48,48,0.8911939775910365) 100%);
  color: #EBEBEB;
  border: none;
  border-radius: .5rem;
  padding: 1rem;
  width: 10rem;
  border-radius: .5rem;
  box-shadow: .2rem .2rem 1rem rgb(40, 40, 40, 0.5);
    transition: all 1s ease-out;
  margin-top: 1rem;
}

.change-button:hover {
  transform: scale(1.10);
  transition: .6s;
  box-shadow: 1rem 1rem 1rem rgb(40, 40, 40, .5);
}

.change-button:active {
  transform: scale(1.0);
  box-shadow: .5rem .5rem 1rem rgb(40, 40, 40, 0.5);
}

.change {
  margin-top: 0;
  text-align: center;
  font-weight: bolder;
  font-size: 1.25rem;
}


.tender-type-card {
  margin-bottom: 1rem;
}

#cvv-label {
  margin-left: 10px;
}

.final-check-out-button {
  display: flex;
  justify-content: center;
  align-self: flex-end;
  background: rgb(48,48,48);
  background: linear-gradient(60deg, rgba(48,48,48,0.9304096638655462) 0%, rgba(40,40,40,0.9023984593837535) 56%, rgba(48,48,48,0.8911939775910365) 100%);
  color: #EBEBEB;
  border: none;
  border-radius: .5rem;
  padding: 1rem;
  width: 10rem;
  border-radius: .5rem;
  box-shadow: .2rem .2rem 1rem rgb(40, 40, 40, 0.5);
  transition: all 1s ease-out;
}

.final-check-out-button:hover {
  transform: scale(1.10);
  transition: .6s;
  box-shadow: 1rem 1rem 1rem rgb(40,40,40, .5);
}

.final-check-out-button:active {
  transform: scale(1.0);
  box-shadow: .5rem .5rem 1rem rgb(40, 40, 40, 0.5);
}

.back-to-cart {
  cursor: pointer;
  text-align: center;
  transition: all 1s ease-out;

}

.back-to-cart:hover {
  transform: scale(1.10);
  text-shadow: .25rem .25rem 1rem rgb(40,40,40, .5);
}

.receipt {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  align-items:center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
  background: linear-gradient(
      to right bottom,
  rgba(255,255,255,0.4),
  rgba(255,255,255,0.7));
  width: 70vw;
  min-height: 60vh;
  max-height: 100vh;
  backdrop-filter: blur(1rem);
  border-radius: .5rem;
  transition: all 1s ease-in-out;
  animation: MoveUpDown .7s linear;
  position: absolute;
  top: 8%; 
  box-shadow: 0 10rem 10rem 8rem rgba(40, 40, 40, .5);
  z-index: 9;
  overflow: scroll;
}
 .receipt-header {
   justify-self: flex-start;
   align-self: center;
   /* height: 5rem; */
 }
.receipt-column {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 25rem;
  text-align: left;
}
.receipt-item-name, .receipt-item-quantity{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.receipt-item-name {
  flex: 3;
}

.receipt-item-name p {
  align-self: flex-start;
  text-align: left;
  margin: .3rem 0;
  height: 2rem;
}

.receipt-item-quantity p {
  margin: .3rem 0;
  height: 2rem;
}

.receipt-totals {
  display: flex;
  justify-self: flex-end;
  align-self: flex-start;
  align-items: flex-start;
}

.receipt-totals p {
  margin: .1rem 0;
}

.on-cash-or-card {
  font-weight: bold;
  text-align: center;
}

.receipt-close {
  text-align: center;
  font-size: 1.25rem;
  transition: all 1s ease-out;
  cursor: pointer;
  padding: 0 2rem;

}

.receipt-close:hover {
  transform: scale(1.10);
  text-shadow: .25rem .25rem 1rem rgb(40,40,40,40, .5);
}



/* remove bars from numbers input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}


/* QUANTITY ICON STYLING BELOW MEDIA QUERIES */
@media only screen and (min-width: 600px){

  section {
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
  }

  .check-out-menu, .receipt {
    top: 15%;
  }

  .receipt {
    top: 10%;
  }

  .receipt-totals{
    flex-direction: column;
  }
  

}






@media only screen and (min-width: 900px){    
  
  section {
      flex-wrap: wrap;
      height: 100%;
  }

  .main {     
      width: 60vw;
      flex-direction: row;
  }

  

  .left {
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 7.5%;
    z-index: 5;
    max-height: 85vh;
    width: 15rem;
    border-radius: 1rem 0 0 1rem;
    height: 100%;
    padding: 2rem;
  }

  .check-out-totals {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    align-self: flex-start;
    margin-right: 0rem;
    width: 100%;
  }

  .sub-total, .tax, .total {
    text-align: left;
    margin: .5rem 0;
  }

  .sub-total, .tax {
    font-size: 1.2rem;
  }

  .total {
    font-size: 1.3rem;
  }

  .store-name-box {
    padding-bottom: 2rem;
  }

  .view-cart {
  padding: 1rem;
  width: 60%;
  top: 63%;
  left: 10%;
  display: flex;
  margin-bottom: .5rem;

  }

  
  .view-cart-text {
    display: flex;
    margin: 0;
  }

  .disclaimer {
    margin: 0;
  }


  .products-header {
    padding: 80px 0 8px 0;
    margin: 0 0 1rem 0;
    width: 100%;
    position: sticky;
  }

  
  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 15rem;
  }

  .shopping-cart {
    position: fixed;
    top: 12%;
    min-width: 40vw;
    max-width: 45vw;
    height: 46.6rem;
    box-shadow: 0 0 3rem 10rem rgba(40,40,40,0.3);
  }

  .cart-totals {
    margin-left: 1rem;
    width: 10rem;
    bottom: .25rem;
  }

  .check-out-menu {
    width: 50vw;
    height: 60vh;
    backdrop-filter: blur(1rem);
    border-radius: .5rem;
    box-shadow: 0 0 3rem 10rem rgba(40,40,40, 0.3);
    z-index: 8;
  }

  .check-out-button{
    align-self: flex-end;
    margin: 0 1.25rem 0 0;
  }

  .slideUp{
    animation-name: slideUp;
    -webkit-animation-name: slideUp;	

    animation-duration: 1s;	
    -webkit-animation-duration: 1s;

    animation-timing-function: ease;	
    -webkit-animation-timing-function: ease;

    visibility: visible !important;			
  }

  .receipt{
    max-width: 35vw;
  }

}

/* Below is styling for shopping cart add/subtract buttons */
.ib::before{
  display: inline-block;
  height: 1em;
  width: 1em;
  background: currentColor;
  vertical-align: -.125em;
  mask-image: var(--url);
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-image: var(--url);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  content:'';
}

/* Icon: mdi-arrow-left-circle
* License: Open Font License
* Html: <i class="ib ib-mdi-arrow-left-circle"></i>
*/
.ib-mdi-arrow-left-circle{
  --url: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"%3e%3cpath d="M2 12A10 10 0 0 1 12 2a10 10 0 0 1 10 10a10 10 0 0 1-10 10A10 10 0 0 1 2 12m16-1h-8l3.5-3.5l-1.42-1.42L6.16 12l5.92 5.92l1.42-1.42L10 13h8v-2z" fill="currentColor"/%3e%3c/svg%3e');
}

/* Icon: mdi-arrow-right-circle
* License: Open Font License
* Html: <i class="ib ib-mdi-arrow-right-circle"></i>
*/
.ib-mdi-arrow-right-circle{
  --url: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"%3e%3cpath d="M22 12a10 10 0 0 1-10 10A10 10 0 0 1 2 12A10 10 0 0 1 12 2a10 10 0 0 1 10 10M6 13h8l-3.5 3.5l1.42 1.42L17.84 12l-5.92-5.92L10.5 7.5L14 11H6v2z" fill="currentColor"/%3e%3c/svg%3e');
}





